body {
  background: url('/proyecto-js/img/hojas.jpg');
  background-attachment: fixed;
}

#logo {
  background: #235e3d;
}

#menu li:hover {
  background: #235e3d;
}

.button-more {
  background: #234e3d;
}
