<div class="bg-dark text-secondary px-4 py-5 text-center" id="about">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">{{title}}</h1>
        <hr class="col-lg-6 mx-auto">
        <h2 class="fw-bold text-white">{{subtitle}}</h2>
        <a href="https://mruvalcaba.com" class="text-white">{{web}}</a>

        <article class="col-lg-8 mx-auto mt-5">
            <h2 class="text-start text-white">Sobre mí</h2>
            <hr class="mt-1 mb-3">
            <p class="fs-5 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultricies erat
                efficitur, egestas ipsum vel, scelerisque
                ante. Maecenas non mauris imperdiet, imperdiet velit gravida, viverra est. Nulla vitae convallis turpis,
                imperdiet
                consectetur nulla. Aenean malesuada placerat mi, eu sagittis orci pulvinar in. Pellentesque dictum massa
                sed faucibus
                placerat. Etiam lectus massa, fermentum et augue sed, rhoncus vestibulum ante. Curabitur ullamcorper
                tristique ex, quis
                consectetur augue congue quis. Mauris tincidunt ut elit vel bibendum. Nunc dignissim malesuada
                consequat. Integer dictum
                venenatis turpis vel iaculis. Proin malesuada molestie risus, ac pharetra leo. Cras dapibus fringilla
                venenatis. Integer
                vel lobortis mauris.</p>
            <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
                <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
            </div> -->
        </article>
    </div>
</div>