<h2>{{title}}</h2>

<form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="project.name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea class="form-control" id="description" name="description" rows="3" #description="ngModel"
            [(ngModel)]="project.description"></textarea>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="category" name="category" #category="ngModel"
            [(ngModel)]="project.category">
    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Año de Lanzamiento</label>
        <input type="number" class="form-control" id="year" name="year" #year="ngModel" [(ngModel)]="project.year">
    </div>
    <div class="mb-3">
        <label for="langs" class="form-label">Lenguajes utilizados</label>
        <input type="text" class="form-control" id="langs" name="langs" #langs="ngModel" [(ngModel)]="project.langs">
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Imagen del proyecto</label>
        <input type="file" class="form-control" id="image" name="image" placeholder="Subir imagen">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>