<h2 class="mb-4 fw-bold">{{title}}</h2>

<hr>


<div class="message success bg-success p-3 mb-2" *ngIf="status == 'success'">
    El proyecto se ha creado correctamente, puedes <a class="text-light" href="#">verlo aquí</a>
</div>

<div class="message failed bg-danger p-3 text-light mb-2" *ngIf="status == 'failed'">
    El proyecto NO SE HA PODIDO CREAR
</div>

<form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control mb-1" id="name" name="name" #name="ngModel" [(ngModel)]="project.name"
            required>
        <span *ngIf="name.touched && !name.valid" class="text-danger">
            El nombre es obligatorio
        </span>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea class="form-control mb-1" id="description" name="description" rows="3" #description="ngModel"
            [(ngModel)]="project.description" required></textarea>
        <span *ngIf="description.touched && !description.valid" class="text-danger">
            La descripción es obligatoria
        </span>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Categoria</label>
        <input type="text" class="form-control mb-1" id="category" name="category" #category="ngModel"
            [(ngModel)]="project.category" required>
        <span *ngIf="category.touched && !category.valid" class="text-danger">
            La categoria es obligatoria
        </span>
    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Año de Lanzamiento</label>
        <input type="number" class="form-control mb-1" id="year" name="year" #year="ngModel" [(ngModel)]="project.year">
    </div>
    <div class="mb-3">
        <label for="langs" class="form-label">Lenguajes utilizados</label>
        <input type="text" class="form-control mb-1" id="langs" name="langs" #langs="ngModel"
            [(ngModel)]="project.langs" required>
        <span *ngIf="langs.touched && !langs.valid" class="text-danger">
            Los lenguajes son obligatorios
        </span>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Imagen del proyecto</label>
        <input type="file" class="form-control mb-1" id="image" name="image" placeholder="Subir imagen">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!projectForm.form.valid">Enviar</button>
</form>