@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "Pushster";
  src: url("../fonts/Pushster-Regular.ttf");
}

body {
  font-family: Pushster, Arial, Helvetica;
}
