/*----------------------------------
  Importar fuentes custom
  --------------------------------*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "Pushster";
  src: url("../fonts/Pushster-Regular.ttf");
}

/*----------------------------------
  Estilos Generales
  --------------------------------*/
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Roboto, Arial, Helvetica;
  background: url(../img/pattern.png);
}

h1 {
  font-family: Pushster, Arial, Helvetica;
}

/*----------------------------------
  Estilos headers
  --------------------------------*/
.nav .nav-link {
  color: white;
}

.nav .nav-link:hover {
  color: grey;
}

.nav .actived {
  color: gray;
}

/*----------------------------------
  Estilo Contenido
  --------------------------------*/
#content {
  min-height: 360px;
}
