/* You can add global styles to this file, and also import other style files */
// zapatillas.component.html
.altoPrecio {
  color: grey;
  font-size: 18px;
}

.fondoRojo {
  background: red;
}

.subrayado {
  text-decoration: underline;
}
