<div class="container">
    <h2>Contacto</h2>
    <form #formContacto="ngForm" (ngSubmit)="onSubmit()">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="usuario.nombre">

        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" name="apellidos" class="form-control" #apellidos="ngModel" [(ngModel)]="usuario.apellidos">

        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="usuario.email">

        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea name="mensaje" class="form-control" #mensaje="ngModel" [(ngModel)]="usuario.mensaje"></textarea>

        <input type="submit" value="Enviar" class="btn btn-primary mt-3">
    </form>
</div>